body{
    font-family: Arial, sans-serif;
    text-align:center;
    background:#f4f4f4;
}

.gallery{
    display:flex;
    flex-wrap:wrap;
    justify-content:center;
    gap:15px;
}

.gallery img{
    width:300px;
    border-radius:10px;
    cursor:pointer;
    transition:0.3s;
}

.gallery img:hover{
    transform:scale(1.05);
}

.lightbox{
    display:none;
    position:fixed;
    top:0;
    left:0;
    width:100%;
    height:100%;
    background:rgba(0,0,0,0.8);
}

.lightbox img{
    max-width:80%;
    margin-top:50px;
}

.close{
    color:white;
    font-size:40px;
    position:absolute;
    top:20px;
    right:30px;
    cursor:pointer;
}
